extends layout
block body
    include back

    div.container
     section(id="login-component" class="login-wrapper")
         h1(class="text-center h1ad") Reunification Matches:

         div.table-wrapper
            table(class="table-hover" id="desc")
              thead
                 tr
                     
                    th(scope="col") STUDENT
                    th(scope="col") STUDENT ID
                    th(scope="col") PARENT
                    th(scope="col") PARENT ID 
                          
                   
              tbody
                  tr
                      
                      td Leroy Watson
                      td 554654225
                      td Tanya Watson
                      td 654522651
    script(src="/assets/js/admin.js", defer="defer")
            
