extends layout
block body
    include back

    div.container
     section(id="login-component" class="login-wrapper")
       h1 Admin
            p Enter your ID
            form(method="get" data-toggle="modal")
                input(class= "form-control" placeholder="Enter Admin ID")
                button(class="btn" style="margin:3px;") Submit

            a(href="/index")
                button(class="btn") Start Over
