extends layout
block body
    include back

    div.container
     section(id="login-component" class="login-wrapper")
       h1(class="text-center" style="margin:10px auto;") Reunification 

        div.table-wrapper
            table(class="table-hover" id="desc")
              thead
                 tr
                     
                    th(scope="col") STUDENT
                    th(scope="col") STUDENT ID
                    th(scope="col") PARENT
                    th(scope="col") PARENT ID 
                          
                   
              tbody
                  tr
                      
                      td tesing
                      td tesing 2
                      td tesing 3
                      td tesing 4
            
