extends layout
block body
    include back

    div.container
        h1 Admin
            p Enter your ID
            form(method="get" action="/result")
                input(placeholder="Enter Admin ID")
                button Submit

            a(href="/index")
                button Start Over
