extends layout
block body

    div.container
        h1 STATUS SELECTION
        a(href="/student")
            button.button.button-outline Student
        a(href="/parent")
            button.button.button-outline Parent
    
