extends layout
block body
    include back


    div.container
        h1 Select your status
        a(href="/student")
            button.btn Student
        a(href="/parent")
            button.btn Parent
