extends layout
block body

    div.container
        h1 Select to begin

        a(href="checkin.pug.html")
            button.btn Check-In
        a(href="staff.pug.html")
            button.btn Faculty / Admin
