.modal.fade(id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
    .modal-dialog.wide-modal
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4.myModalLabel.modal-title
                | #{title}
            .modal-body
                #container(style="width:90%; height:400px;")
            .modal-footer
                button.btn.btn-primary(type='button', data-dismiss='modal') Close


script.
    $(document).ready(function(){

        if(#{strikeprices}){
            $('#myModal').modal('show')
        }

        $('body').on('hidden.bs.modal', '.modal', function () {
            $(this).removeData('bs.modal');
        });
    });