extends layout
block body
    


    h1 PARENT
    p Enter your Driver's License / ID
    form(method="get" action="result.pug.html")
        input(placeholder="Driver's License / ID")
        
    button.button.button-outline Submit

    include back