extends layout
block body
    include back

    div.container
        h1 Parent
            p Enter your Driver's License / ID
                form(id="id_form")
                    input(placeholder="Driver's License / ID" id="parent_id")
                    button#parentBtn Submit
                         a(href="/parent")
                    button Start Over
    
    script(src="/assets/js/parent.js", defer="defer")
               
               
