extends layout
block body
    include back

    div.container
        h1 Student
            p Enter your ID
            form(method="get" action="/result")
                input(placeholder="Student ID")
                button Submit
            a(href="/index")
                button Start Over
