extends layout
block body

    include back

    div.container
        h1 Student
            p Enter your ID
            form(id="id_form")
                input(placeholder="Student ID" id="student_id")
                button Submit
            a(href="/")
                button Start Over

    script(src="/assets/js/student.js", defer="defer")