extends layout
block body

    div.container
        h1 Select your status
        a(href="student.pug.html")
            button.btn Student
        a(href="parent.pug.html")
            button.btn Parent
        a(href="staff.pug.html")
            button.btn Faculty / Staff
